.timer__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.timer__head {
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
}
.timer__head p {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #505050;
}
.timer__head span {
    display: flex;
    gap: 8px;
}
.timer__head span p {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.timer__content {
    padding: 16px 32px 32px 32px;
    width: 100%;
    display: flex;
    color: #505050;
}